body {
	background-image: url(../img/darkdenim3.png);
	background-repeat:repeat;
	color: #708090;
	font-size: 11px;
	height: auto;
	padding: 20px 0;
	background-attachment:fixed;
	
}

a {
	color:#B76E79;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
a:link {color:#B76E79;}      
a:visited {color:#B76E79}  

h1 {
	font-family: 'PT Sans Narrow', cursive;
	color: #B76E79;
	font-size: 60px;
	text-align:left;
	font-weight:normal;
}

h2 {
	padding-top: 0px;
	text-align: center;
}

p {
	padding: 10px 0;
}
img.floatLeft {
    float: left;
    margin: 10px 20px 15px 0px;
	background-color: #FFFFFF;
    border: 1px solid #B76E79;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 6px 6px 0px #708090;
    float: left;
    height: 160px;
    padding: 4px;
    width: 120px;
}
.item p {
	color: #708090;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}
.item_tittle h1 {
	font-size: 24px;
	font-weight:normal;
	font-family: 'PT Sans Narrow', cursive;
	text-align: left;
	color: #000000;
	padding: 10px 0 0;
	text-transform: uppercase;
}
.item_tittle h1 span {
    background: none repeat scroll 0 0 #708090;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    float: right;
    font-family: 'PT Sans Narrow', cursive;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0;
    padding: 0 5px;
	margin-right: 0;
 
}
.item_tittle h2 {
	font-size: 18px;
	font-weight:normal;
	font-family: 'PT Sans Narrow', cursive;
	text-align: left;
	color:#000;
}
.item_tittle h3{
	font-size: 14px;
	font-weight:normal;
	font-family: 'PT Sans Narrow', cursive;
	text-align: right;
	color:#000;
}
.container_12,
.container_16,
.container_24 {
	background-color: #fff;
}

.container_12 {
	background-image: url(../img/12_col.gif);
}

.container_16 {
	background-image: url(../img/16_col.gif);
}

.container_24 {

	background-image: url(../img/groovepaper.png);  /*groovepaper.png*/
}
.holder {

	overflow: hidden;
	padding: 10px 0;

}

/* ===HEADER===*/
#header{
	background-image: url(../img/resume.png);
	width:990px;
	height:87px;
	margin:auto;
}
#header_bg{
	background-color:#ffffff;
	width:950px;
	height:200px;
	margin:auto;
}

.social_panel {
	float:right;
	padding: 34px 60px 0 0;
}

.social_panel li {

	float: left;
    margin-left: 10px;
	list-style: none;

}
.social_panel ul {
	list-style: none;
}
.social_panel li.last{
	margin:0;
}
.main_panel {
    float: right;
    padding: 34px 60px 0 0;
	}
.main_panel a {color:#fff;}   
.main_panel a:link {color:#fff;}      
.main_panel a:visited {color:#fff}  
	
.main_panel li {

	float: left;
    margin-left: 10px;
	list-style: none;

}
.main_panel ul {
	list-style: none;
}
.main_panel li.last{
	margin:0;
	}
	
/* ===NAME AND TITTLE===*/	
#name_tittle {
	 
	background-repeat: no-repeat;
	background-position: right top;
}
#name_tittle h1{
	font-family: 'PT Sans Narrow', cursive;
	color: #B76E79;
	font-size: 30px;
	text-align:left;
	font-weight:bold;
}
#name_tittle ul{
	color: #74767A;
    font-family: 'PT Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.0em;
    list-style-type: none;
    margin: -5px 0 0 -31px;
    text-align: left;
}
#name_tittle li{
	padding: 0px;
}
/* ===CONTACT LIST===*/	
.work_list{
	float: left;
	margin: 0 0 0 -70px;
	text-align: right;
}
.work_list h1{
	font-family: 'PT Sans Narrow', cursive;
	font-size: 24px;
	color:#74767a;
	margin: 0px 0 0 30px;
}
.work_list h2{
	font-family: 'PT Sans Narrow', cursive;
	font-size: 18px;
	color: #000000;
	margin: 0 0 0 30px; 
	text-align: left;
}
.work_list h3{
	font-family: 'PT Sans Narrow', cursive;
	font-size: 18px;
	color:#1B579E;
	margin: 0 0 0 30px; 
	text-align: left;
	border-bottom: 2px solid #1B579E;
	width: 390px;
}
.work_list ul{
	font-family: 'PT Sans Narrow', sans-serif;
	line-height:  1.5em;
	color: #74767a;
	font-size: 18px;
	text-align:left;
	list-style-type: none;
}
.work_list li{
	border-bottom: 1px solid #d7d7d7;
	width: 390px;
}

.vertical_line{
	height: 1000px;
	background-image: url("../img/vertical_line.png");
	background-repeat: repeat-y;
	margin: 43px 0 0;
}
.vertical_line2{
	height: 270px;
	background-image: url("../img/vertical_line.png");
	background-repeat: repeat-y;
}
.horisontal_line{
	height:40px;
	width: 870px;
	margin: auto;
	background-image: url("../img/horisontal_line.png");
	background-repeat: repeat-x;
}

/* ===RIBBON===*/	
.ribbon{
    color: #1b579e;
    font-size: 30px;
    width: 390px;
	font-family: 'PT Sans Narrow', cursive;
	font-weight:bold;
	border-bottom: 1px dotted #1b579e;
	border-top: 1px dotted #1B579E;
	
}
.ribbon2{
    color: #B76E79;
    font-size: 30px;
    width: 390px;
	font-family: 'PT Sans Narrow', cursive;
	font-weight:bold;
	border-bottom: 3px solid #bebebe;
	border-style:dotted;
}

.ribbon_portfolio{
	border-bottom: 3px dotted #BEBEBE;
    color: #B76E79;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 30px;
    font-weight: bold;
    width: 865px;
}
/* ===YOUR PHOTO /AVATAR===*/	
#avatar{
    border: 1px solid #CFD0CB;
    padding: 4px;
    margin: 0 10px 0 0;
    float: left;
    height: 160px;
    width: 150px;
	background-color:#fff;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 6px 6px -5px #727274;
}
#skill_list2{
    float: left;
    margin: -5px 0 0 -30px;
}
.year{
    height:100px;
    font-family: 'PT Sans Narrow', cursive;
    font-size:22px;
    color:#737475;
    padding:  0 0 0 10px;
}
/* ===SKILL SET===*/
#skill_list ul{
    list-style-type: none;
    text-align:right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    line-height: 1.74em;
}
#skill_list2 ul{
    list-style-type: none;
    text-align:left;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
	font-weight: bold;
}
#skill_set {
    margin: 0;
}
#skill_set ul{
    list-style-type: none;
}
#technical_skill{
	height: 240px;
	margin: 15px 0 0;
}
.progress_container{
	padding:1px;
	height:15px;
	overflow:hidden;
	background-color:#ccc;
	margin: 0 0 10px 90px;
	width: 270px;
}
	
.progress_bar{
	height:22px;
	width:0px;
	background-color:#f474da;
}
.ilustrator{
	height:22px;
	width:0px;
	background-color:#f474da;
}
.flash{
	height:22px;
	width:0px;
	background-color:#f3a0e2;
}
.html{
	height:22px;
	width:0px;
	background-color:#f3a0e2;
}
.css{
	height:22px;
	width:0px;
	background-color:#f3a0e2;
	}
.cms{
	height:22px;
	width:0px;
	background-color:#cc63b7;
}
.seo{
	height:22px;
	width:0px;
	background-color:#cc63b7;
}
.php{
	height:22px;
	width:0px;
	background-color:#f474da;
}
/* ===jQuery lightBox plugin - Gallery style ===*/	

#gallery {
	padding: 25px 12px;
	width: 930px;
}
#gallery2 {
	width: 100%;
	padding: 33px 0 10px;
}
#gallery img{ padding:4px;}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 1px solid #CFD0CB;
	background-color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 6px 6px -5px #727274;
}
#gallery ul a:hover img {
	border: 1px solid #CFD0CB;
}
#gallery ul a:hover { color: #fff; }
	


/* === CONTACT FORM  ===*/	

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 429px;
	margin: 15px 0 0;
	font-family: 'PT Sans Narrow', sans-serif;
    color: #74767a;
    font-size: 12px;
    font-weight:bold;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 310px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
}

#contact-area textarea {
	height: 70px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #022E63;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	margin: 0 36px 0 0;
	background-color: #022E63;
	color:#FFFFFF;
	font-family: 'PT Sans Narrow',sans-serif;
    font-size: 18px;
	font-weight:bold;
}

label {
    float: left;
    font-size: 1.4em;
    padding-top: 0;
    text-align: left;
    width: 70px;
}

/* ===WHY ME  ===*/	
.why_me h1{
    color: #022E63;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 24px;
    margin: 0 0 0 18px;
    text-align: left;
    width: 372px;
	font-weight:bold;
	}
.why_me ul{
    color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 15px 0 0 -15px;
    text-align: left;
    width: 372px;;
	}


/* ===DOWN TOP - GALLERY STYLE  ===*/		
.nav_up{
	padding:7px;
	border:1px solid #CCC;
	position:fixed;
	background:url("../img/images/arrow_up.png") no-repeat scroll 50% 50% #CCCCCC;
	width:20px;
	height:20px;
	bottom:10px;
	opacity:0.7;
	right:30px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.nav_down{
	padding:7px;
	background-color:white;
	border:1px solid #CCC;
	position:fixed;
	background:url("../img/images/arrow_down.png") no-repeat scroll 50% 50% #CCCCCC;
	width:20px;
	height:20px;
	bottom:10px;
	opacity:0.7;
	right:70px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.hobby-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.hobby-item {
  font-size: 25px;
  padding: 15px 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: default;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  color: #737475;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative; 
}

.hobby-item:hover {
  transform: scale(1.1);
  background-color: #B76E79;
  color: #fff;
}

.hobby-item::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #B76E79;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'PT Sans Narrow', sans-serif;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  pointer-events: none;
}

.hobby-item:hover::after {
  opacity: 1;
}
.contact-link {
  display: inline-block;
  background-color: #B76E79;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-link:hover {
  background-color: #a45c68;
}

#email-form {
  margin-top: 15px;
  font-family: 'PT Sans Narrow', cursive;
  color: #708090;
}

#email-form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
  font-family: 'PT Sans Narrow', sans-serif;
  white-space: nowrap;
}

#email-form input[type="text"] {
  padding: 6px;
  border: 1px solid #B76E79;
  border-radius: 4px;
  width: 120px;
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
}

#email-form input[type="text"]:focus {
  border: 1px solid #022E63;
  outline: none;
}

.gmail-button {
  background-color: #B76E79;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.gmail-button:hover {
  background-color: #a45c68;
}
.captcha-block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.captcha-question {
  display: block;
  width: 100%;
}

.captcha-input-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

